<section class="bg-light py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Login</h2>
            <p class="lead mb-0">Access your tasks in seconds</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <form id="login-form">
                    <div class="form-floating mb-3">
                       <input class="form-control" id="email" name="email" type="email" placeholder="name@example.com" autocomplete="username" required />
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="password" name="password" type="password" placeholder="********" autocomplete="current-password" required />
                        <label for="password">Password</label>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary btn-lg" id="login-btn" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>